.about__container {
  display: flex;
  gap: 2rem;
}
.about__left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.about__header {
  width: min-content;
}
.about__left h3,
.about__left h1 {
  font-family: Diodrum Arabic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-darkBlue);
}

.about__left h1 {
  font-size: 104px;
  letter-spacing: -5px;
  padding: 36px 0;
}
.about__left p {
  font-family: Sharp Sans No1 Medium;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--color-darkBlue);
}

.about__cards {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 1.5rem; */
}
.cards-container {
  display: flex;
  justify-content: space-between;
}
.card.about__card {
  padding: 1rem;
  text-align: center;
  max-width: 180p x;
  color: var(--color-lightBlue);
  border-bottom: 1px solid var(--color-lightGray);
}
.card.about__card:nth-child(odd) {
  border-right: 1px solid var(--color-lightGray);
}

.card.about__card:hover {
  color: var(--color-darkBlue);
}
.about__card-icon {
  width: fit-content;
  margin-inline: auto;
  color: var(--color-lightBlue);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.card.about__card:hover .about__card-icon {
  color: var(--color-darkBlue);
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card.about__card h5 {
  font-family: Diodrum Arabic;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}
.card.about__card small {
  font-family: Sharp Sans No1 Medium;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
  color: #757575;
}

.about__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3rem 0;
}

.slider img {
  width: 100%;
  max-width: 568px;
  min-width: 400px;
  max-height: 688px;
}
.slider__circles {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.slider__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 4px;
  cursor: pointer;
}

.slider__circle.active {
  background-color: var(--color-darkBlue);
}
/* wide screen */
@media (min-width: 1920px) {
  .about__left h3 {
    font-size: 50px;
  }
  .about__left h1 {
    font-size: 104.04px;
    letter-spacing: -5px;
    padding: 38px 0;
  }
  .about__left p {
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
  }
  .card.about__card h5 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .card.about__card small {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
  }
}
/* tablets */
@media (max-width: 1024px) {
  .about__left h3 {
    font-size: 30px;
  }
  .about__left h1 {
    font-size: 70.04px;
    letter-spacing: -5px;
    padding: 32px 0;
  }
  .about__left p {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
  }
  .card.about__card h5 {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .card.about__card small {
    font-size: 14px;
    font-weight: 600;
    line-height: 23px;
  }
}
/* small tablets */
@media (max-width: 800px) {
  .about__container {
    flex-direction: column;
  }
  .about__header {
    margin: auto;
    text-align: center;
  }
  .about__header p {
    text-align: center;
  }
  .slider {
    margin: auto;
  }
}

/* phones */

@media (max-width: 800px) {
  .slider img {
    min-width: 250px;
  }
}
